<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about-us_stylesheet.css">
    <title>Happy Narwhal</title>
</head>

<body>
    <div id="wrapper">
            <div class="agency-box div-center">

                <div class="left-box">
                    <span>Anything can be possible. </span>
                    <p>If you have an idea, we can probably make it happen. We’re open to exploring different technologies to make your idea a reality. Every project is unique. We’ll help you to understand the technical requirements, and if we don’t think we’re a good fit for your project we’ll be upfront about it.
                    </p>
                </div>
                <div class="right-box">
                    <lottie-player src="/js/animation.json"  background="transparent" speed="2" loop autoplay></lottie-player>
                </div>

            </div>

            <div class="team-info">
                <div class="div-center">
                    <div class="left-box">
                        <h3>Why HappyNarwhal?</h3>
                    </div>

                    <div class="right-box">

                        <p>We provide great value-based development and design services.
                            Your website is not just a place. It is the face of your business and a valuable connection between the clients and your business.
                            Your unique website will help your company creates what makes you unique and grow your business. Do you have an idea? Let's make it a reality!
                        </p>
                    </div>
                </div>
            </div>

            <div class="team-box">
                <div class="headline"></div>
                <h1 class="main">Meet Our Team</h1>
                
                <div class="card-container">
	
		            <div class="team-card">
			            <div class="picture-side profile1">
			            </div>
			            <div class="back">
                            <h3>Bjorn Linder</h3>
                            <p class="title">President</p>
				            <p>Bjorn has a wide range of experience working as a full-stack developer and leading
                                teams. He's worked on a number of projects and companies in Saas, E-Commerce, and other
                                user facing websites. Bjorn is comfortable with all facets of web development, including
                                database architecture, API integration, testing, and managing an agile workflow. While
                                Bjorn has most experience working with Ruby on Rails applications, he is also
                                comfortable working with various JavaScript frameworks including Node, Loopback, React,
                                Apostrophe, and Tungsten.</p>
				            <ul class="icon">
                                <li><a href="https://www.facebook.com/HappyNarwhalWebAgency" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                            </ul>
			            </div>
		            </div>

                    <div class="team-card">
			            <div class="picture-side profile2">
			            </div>
			            <div class="back">
                            <h3>Rachel Klimpe</h3>
                            <p class="title">Web Designer</p>
				            <p>Rachel is a graphic designer. She has an Undergrad Degree in drawing for Minnesota State
                                University, Moorhead, and a Masters Degree in Graphic Design & Web from Minneapolis
                                College of Art and Design. She has particular interests in branding, logos, typography,
                                layout strategies, production, technology, and color management.
                            </p>
                            <ul class="icon">
                                <li><a href="https://www.rachelklimpel.com/"><i class="fa fa-user-o"></i></a></li>
                            </ul>
			            </div>
		            </div>
                    <div class="team-card">
			            <div class="picture-side profile3">
			            </div>
			            <div class="back">
                        	<h3>Bowon Kim</h3>
                            <p class="title">Development Assistant</p>
				            <p>Bowon is a development assistant. She is pursuing a BS in Computer Information Technology and a minor in Graphic design
                            from Minnesota State University, Mankato.
                            </p>
			            </div>
		            </div>

		            
	
        </div>
            </div>

    </div>

</body>

</html>