<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about-us_stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/jquery.js"></script>
    <title>Happy Narwhal</title>
</head>

<body>
    <div id="wrapper">
  

        <section class="about-contain">
            <div class="agency-box">
                
                <h2>Hello, we're <span>Happy Narwhal.</span></h3>
                
                <h3>Who we are</h3>
                <P>Happy Narwhal is a web development agency located in Mankato, MN. We're new but we're good at what we do.
                </P>
            </div>
            <div class="team-box">
                <div class="headline"></div>
                <h1 class="main">Meet Our Team</h1>
                <div class="row">
                    <div class="our-team">
                        <img src="/images/bjorn.jpg" alt="profile">
                        <div class="team-content">
                            <h3 class="title">Bjorn Linder</h3>
                            <span class="post">President</span>
                            <ul class="icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="info">
                        <ul>
                            <li class="name">Bjorn Linder</li>
                            <li>Bjorn has a wide range of experience working as a full-stack developer and leading teams. He's worked on a number of projects and companies in Saas, E-Commerce, and other user facing websites. Bjorn is comfortable with all facets of web development, including database architecture, API integration, testing, and managing an agile workflow. While Bjorn has most experience working with Ruby on Rails applications, he is also comfortable working with various JavaScript frameworks including Node, Loopback, React, Apostrophe, and Tungsten.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="our-team">
                        <img src="/images/rachel.jpg">
                        <div class="team-content">
                            <h3 class="title">Rachel Klimpel</h3>
                            <span class="post">Web Designer</span>
                            <ul class="icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="info">
                        <ul>
                            <li class="name">Rachel Klimpel</li>
                            <li>Rachel is a graphic designer. She has an Undergrad Degree in drawing for Minnesota State University, Moorhead, and a Masters Degree in Graphic Design & Web from Minneapolis College of Art and Design. She has particular interests in branding, logos, typography, layout strategies, production, technology, and color management.</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="our-team">
                        <img src="/images/undraw_female_avatar_w3jk.svg">
                        <div class="team-content">
                            <h3 class="title">Bowon Kim</h3>
                            <span class="post">Development Assistant</span>
                            <ul class="icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="info">
                        <ul>
                            <li class="name">Bowon Kim</li>
                            <li>Bowon is a development assistant.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </div>

</body>

</html>