<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/aboutus_stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="assets/js/jquery.js"></script>
    <title>Happy Narwhal</title>
</head>

<body>
    <div id="wrapper">
        <header id="header" class="alt">
            <div class="top"></div>
            <nav id="nav">
                <div class="animation">
                    <a href="home.html"><img src="assets/images/logo.svg" class="logo" width="100" height="100" /></a>
                </div>
                <div class="typo">
                    <a href="home.html"><img src="assets/images/typologo.svg" class="logo" width="200" /></a>
                </div>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="social.html">Social</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                </ul>
            </nav>
        </header>

        <section class="about-contain">
            <div class="agency-box">
                
                <h2>Hello, we're <span>Happy Narwhal.</span></h3>

                
                <h3>Who we are</h3>
                <P>Happy Narwhal is a web development agency. 
                    <br>
                    Cupcake ipsum dolor sit amet. Chocolate cake cupcake croissant lollipop cake gummies
                    soufflé. Sugar plum ice cream bear claw sweet chocolate oat cake apple pie carrot cake
                    chocolate.
                    Brownie cotton candy wafer lemon drops wafer tart sugar plum. Cookie cake jelly-o oat
                    cake pastry bear claw. Chocolate cake pastry marshmallow gummies gummies icing. Gummi
                    bears muffin gummies apple pie 
                </P>
            </div>
            <div class="team-box">
                <div class="headline"></div>
                <h1 class="main">Meet Our Team</h1>
                <div class="row">
                    <div class="our-team">
                        <img src="assets/images/undraw_male_avatar_323b.svg" alt="profile">
                        <div class="team-content">
                            <h3 class="title">Bjorn Linder</h3>
                            <span class="post">Web Developer</span>
                            <ul class="icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="info">
                        <ul>
                            <li>Cupcake ipsum dolor sit amet. Chocolate cake cupcake croissant lollipop cake gummies
                                soufflé. Sugar plum ice cream bear claw sweet chocolate oat cake apple pie carrot cake
                                chocolate.
                                Brownie cotton candy wafer lemon drops wafer tart sugar plum. Cookie cake jelly-o oat
                                cake pastry bear claw. Chocolate cake pastry marshmallow gummies gummies icing. Gummi
                                bears muffin gummies apple pie</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="our-team">
                        <img src="assets/images/undraw_female_avatar_w3jk.svg">
                        <div class="team-content">
                            <h3 class="title">Rachel Klimpel</h3>
                            <span class="post">Web Designer</span>
                            <ul class="icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="info">
                        <ul>
                            <li>Cupcake ipsum dolor sit amet. Chocolate cake cupcake croissant lollipop cake gummies
                                soufflé. Sugar plum ice cream bear claw sweet chocolate oat cake apple pie carrot cake
                                chocolate.
                                Brownie cotton candy wafer lemon drops wafer tart sugar plum. Cookie cake jelly-o oat
                                cake pastry bear claw. Chocolate cake pastry marshmallow gummies gummies icing. Gummi
                                bears muffin gummies apple pie</li>
                        </ul>
                    </div>
                </div>
            </div>

        </section>

    </div>

</body>

</html>