<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/port_detail_stylesheet.css">
    <title>Happy Narwhal</title>

</head>

<body>
    <div class="portfolio-detail-box">
        <div class="portNav">
            <a id="top"></a>
            <a href="portfolio.html"><i class="fa fa-th-large" aria-hidden="true"></i></a>
            <a href="woxxer.html"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>
        <div class="detail-area">
            <div class="img-section">
                <img src="images/portfolio/earthenart/earthenart_preview1.jpg" alt="Earthenart Rocks">
            </div>
            <h3><a href='https://www.earthenart.rocks/'>EarthenArt.rocks</a></h3>
            <p>EarthenArt Rocks sells rocks and rock related artwork.

                It is an E-Commerce website we built with Ruby on Rails and SpreeCommerce.</p>
        </div>
        <div class="tech-area">
            <div class="tech-detail">
                <h4>Project Details</h4>
                <p>EarthenArt Rocks is an E-Commerce Website built with Ruby on Rails and SpreeCommerce.</p>
            </div>
            <div class="used-list">
                <ul>
                    <li>E-Commerce</li>
                    <li>Responsive Webdesign</li>
                    <li>Website Development</li>
                    <li>Logo / Branding</li>
                </ul>
            </div>
            <div class="portal">
                <ul>
                    <li><a href="https://www.earthenart.rocks/" class="portal-btn">EarhenArt.rocks Website</a></li>
                    <li><a href="portfolio.html" class="portal-btn">Back to Portfolio</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="project-details">
        <div class="scroll-section">
            <div class="scroll-text">
                <h4>Arts Gallery</h4>
                <p>The EarthenArt.Rocks website needed to show their products to customers.
                The main page includes products gallery for the buyers to explore the artworks easily.</p>
            </div>
            <img src="/images/portfolio/earthenart/earthenart_h1.jpg" alt="earthenart website ecommerce page">
            
            <div class="scroll-text">
                <h4>Ordering Products</h4>
                <p>E-Commerce functionality was customized around Earthenart.Rocks's strategy.</p>    
            </div>
            <img src="/images/portfolio/earthenart/earthenart_h2.jpg" alt="earthenart website ecommerce page">
            <img src="/images/portfolio/earthenart/shoppingcart.jpg" alt="earthenart website ecommerce page">

            <div class="scroll-text">
                <h4>Registration</h4>
                <p>The EarthenArt.Rocks can manage the customer account.</p>  
            </div>
            <img src="/images/portfolio/earthenart/signup.jpg" alt="earthenart website ecommerce page">
            
            <img src="/images/portfolio/earthenart/earthenart_h3.jpg" alt="earthenart website ecommerce page">
            
            <div class="back-btn"><a href="#top"><i class='fa fa-angle-up' style='font-size:36px'></i></a></div>
        
        </div>
        <%= erb :contactform, :layout=> false %>
    </div>
</body>

</html>