<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/port_detail_stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/jquery.js"></script>
    <title>Happy Narwhal</title>

</head>
<body>
        <div class="portfolio-detail-box">
            <div class="portNav">
                <a id="top"></a>
                <a href="portfolio.html"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </div>
            <div class="detail-area">
                <div class="img-section">
                    <div class="webimg web1"></div>
                </div>
                <h3><a href='https://www.earthenart.rocks/'>EarthenArt.rocks</a></h3>
                <p>EarthenArt Rocks sells rocks and rock related artwork.

                It is an E-Commerce website we built with Ruby on Rails and SpreeCommerce.</p>
            </div>
            <div class="tech-area">
                <div class="tech-detail">
                    <h4>Project Details</h4>
                    <p>EarthenArt Rocks is an E-Commerce Website built with Ruby on Rails and SpreeCommerce.</p>
                </div>
                <div class="used-list">
                    <ul>
                        <li>E-Commerce</li>
                        <li>Responsive Website</li>
                        <li>Website Development</li>
                        <li>Logo Design</li>
                        <li>Website Design</li>
                    </ul>
                </div>
                <div class="portal">
                    <ul>
                        <li><a href="https://www.earthenart.rocks/" class ="portal-btn">EarhenArt.rocks Website</a></li>
                        <li><a href="portfolio.html" class ="portal-btn" >Back to Portfolio</a></li>
                    </ul>
                </div>
            </div>
        </div>
       <div class="scroll-background">
            <div class="scroll-section">
                <div class="scroll-text">
                    <h4>Website Details and Presentation</h4>
                    <p>The EarthenArt.Rocks website needed to show their products to customers. We designed the products gallery for the buyers to explore the products.</p>
                </div>
                <div class="scroll-graphic">
                    <img src="/images/earthenart_h1.jpg" alt="earthenart website ecommerce page">
                
                    <img src="/images/earthenart_h2.jpg" alt="earthenart website ecommerce page">
                
                    <img src="/images/earthenart_h3.jpg" alt="earthenart website ecommerce page">
                </div>
                <div class="back-btn"><a href="#top"><i class='fas fa-angle-up' style='font-size:36px'></i></a></div>
        </div>
   
    <div class="contact1">
        <div class="container-contact1">
            <form class="contact1-form validate-form">
                <div class="headline"></div>
                <div class="title">
                    <h1>Contact us</h1>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Name is required">
                    <input class="input1" type="text" name="name" placeholder="Full Name">

                </div>

                <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input1" type="text" name="email" placeholder="Email">

                </div>

                <div class="wrap-input1 validate-input" data-validate="Phone number is required">
                    <input class="input1" type="text" name="phone" placeholder="Phone Number">

                </div>

                <div class="wrap-input1 validate-input" data-validate="Estimated budget is required">
                    <input class="input1" type="text" name="budget" placeholder="Estimated Budget">

                </div>

                <div class="wrap-input1 validate-input" data-validate="Message is required">
                    <textarea class="input1" name="message" placeholder="Your project specification"></textarea>

                </div>

                <div class="container-contact1-form-btn">
                    <button class="contact1-form-btn">
                        <span>
                            Send Email
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    <!--===============================================================================================-->
    <script src="/js/main.js"></script>
</body>

</html>