<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>Happy Narwhal</title>

</head>

<body>
    <div id="wrapper">
        <!-- Banner -->
        <section id="banner" class="major">
            <figure class="center-split">
                <img src="images/undraw_Business_plan_re_0v81.jpg" alt="Website development company" />
                <figcaption class="first">
                    <div class="headline-text"></div>
                    <h1>Innovative Digital Solutions</h1>
                    <ul>
                        <li>Site Design & Challenges</li>
                        <li>Digital Consulting</li>
                        <li>Outsourcing</li>
                    </ul>
                </figcaption>
            </figure>
            <figure class="center-split">
                <figcaption class="second">
                    <div class="headline-text"></div>
                    <h1>Industry Experience</h1>
                    <ul>
                        <li>E-Commerce</li>
                        <li>Scheduling / Events</li>
                        <li>Ad Tech
                        <li>Design / Branding</li>
                    </ul>
                </figcaption>
                <img src="images/undraw_interaction_design_odgc.jpg" alt="Website development company" />
            </figure>
        </section>
    </div>


    <!--Type Section-->
    <div class="type-section">
        <div class="headline"></div>
        <h1 class="main">Best Solution For You</h1>
        <p></p>
        <div class="type-box">
            <div class="row-type">
                <div class="col-type">
                    <div class="steps">
                        <img src="images/undraw_personal_website_weap.jpg" alt="Websites" height="150" />
                    </div>
                    <h3>WEBSITES</h3>
                    <p>We build custom web applications designed for the best user experience.</p>
                </div>
            </div>
            <div class="row-type">
                <div class="col-type">
                    <div class="steps">
                        <img src="images/undraw_web_shopping_dd4l.jpg" alt="E-commerce" height="150" />
                    </div>
                    <h3>E-commerce</h3>
                    <p>Build your customized shopping experience, whether you sell physical products, electronic, or
                        want to set up a multi-vendor marketplace.
                    </p>
                </div>
            </div>
            <div class="row-type">
                <div class="col-type">
                    <div class="steps">
                        <img src="images/undraw_web_search_eetr.jpg" alt="Web Portal" height="150" />
                    </div>
                    <h3>Web Portal</h3>
                    <p>Some examples of features we typically work on include CMS platforms, dashboard analytics, and
                        scheduling.</p>
                </div>
            </div>
            <div class="row-type">
                <div class="col-type">
                    <div class="steps">
                        <img src="images/undraw_wireframing_nxyi.jpg" alt="Design" height="150" />
                    </div>
                    <h3>Design</h3>
                    <p>We offer a variety of design services, including UX design, branding, art direction, and general
                        graphic design.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Process -->
    <div class="process-box">
        <div class="headline"></div>
        <h1 class="main">Our Development Process</h1>
        <input type="radio" class="meet" checked id="" name="process">
        <input type="radio" class="plan" id="" name="process">
        <input type="radio" class="develop" id="" name="process">
        <input type="radio" class="launch" id="" name="process">
        <div class="process-head">
            <ul class="pNav">
                <li class="bar bar1 active">
                    <h2 class="bar">Meet</h2>
                </li>
                <li class="bar bar2">
                    <h2 class="bar">Plan</h2>
                </li>
                <li class="bar bar3">
                    <h2 class="bar">Develop</h2>
                </li>
                <li class="bar bar4">
                    <h2 class="bar">Launch</h2>
                </li>
            </ul>
            <div class="line">
                <span></span>
            </div>
        </div>
        <div class="contents">
            <section class="meet-section">
                <h1>Gather Requirements</h1>
                <p>First we need to understand your brand, your goals and expectations for the project. We'll cover
                    additional details of our development process and look to understand project scope as well as we
                    can.</p>
            </section>
            <section class="plan-section">
                <h1>Plan</h1>
                <p>We'll make a plan of action and discuss with you which technologies would be best for your project.
                    Depending on your project needs we may bring in additional developers. At HappyNarwhal, we're good
                    at finding the right people to work with. We'll likely set up a Jira or Trello board for sharing
                    more of our workflow with you.</p>
            </section>
            <section class="develop-section">
                <h1>Develop</h1>
                <p>Regardless of how we approach project management in working together, you're sure to get regular
                    progress updates from us. We'll still be working together regularly as we make decisions on project
                    details, implementing features, and anything else that arises.</p>
            </section>
            <section class="launch-section">
                <h1>Launch</h1>
                <p>Launch your website!</p>
            </section>
        </div>
    </div>

    <!--Contact-->
    <%= erb :contactform, :layout=> false %>

</body>

</html>