<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/layout_stylesheet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="icon" href="/images/favicon.png" sizes="16x16 32x32" type="image/png" />
    >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/jquery.js"></script>
    <title>Happy Narwhal</title>
</head>

<body>
    <div id="wrapper">
        <!-- Header -->
        <header id="header" class="alt">
            <div class="top"></div>
            <nav id="nav">
                <div class="animation">
                    <a href="/"><img src="/images/logo.jpg" class="logo" width="80" height="80" /></a>
                </div>
                <div class="typo">
                    <a href="/"><img src="/images/typologo.jpg" class="logo" width="200" /></a>
                </div>
                <input type="checkbox" id="check" />
                <label for="check" class="checkbtn">
                    <i class="fa fa-bars"></i>
                </label>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>Social (coming soon)</li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="about-us.html">About Us</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <%= yield %>
</body>

</html>