<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/port_detail_stylesheet.css" />
    <title>Happy Narwhal</title>
</head>

<body>
    <div class="portfolio-detail-box">
        <div class="portNav">
            <a id="top"></a>
            <a href="portfolio.html"><i class="fa fa-th-large" aria-hidden="true"></i></a>
        </div>
        <div class="detail-area">
            <div class="img-section">
                <img src="/images/portfolio/maCapstone/macapstone_preview.jpg" alt="Onatah Eco Salon & Wigs" />
            </div>
            <h3><a href="#">MA Capstone</a></h3>
            <p>
                For MA Capstone, the Happy Narwhal designer, Rachel, created a brand
                expansion project for a family-owned winery called Morgan Creek
                Vineyards to build on their existing branding to include the theme
                biodynamics in their advertising.
            </p>
        </div>
        <div class="tech-area">
            <div class="tech-detail">
                <h4>Project Details</h4>
                <p>
                    The Happy Narwhal Designer designed the iconography and wine labels
                    for MA Capstone.
                </p>
            </div>
            <div class="used-list">
                <ul>
                    <li>iconography</li>
                    <li>Label Design</li>
                </ul>
            </div>
            <div class="portal">
                <ul>
                    <li>
                        <a href="portfolio.html" class="portal-btn">Back to Portfolio</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="scroll-background">
        <div class="scroll-section">
            <div class="scroll-graphic">
                <img src="/images/portfolio/maCapstone/macapstone1.jpg" alt="Onatah Eco Salon & Wigs Detail" />
                <img src="/images/portfolio/maCapstone/macapstone2.jpg" alt="Onatah Eco Salon & Wigs Detail" />
                <img src="/images/portfolio/maCapstone/macapstone3.jpg" alt="Onatah Eco Salon & Wigs Detail" />
                <img src="/images/portfolio/maCapstone/macapstone4.jpg" alt="Onatah Eco Salon & Wigs Detail" />
                <img src="/images/portfolio/maCapstone/macapstone5.jpg" alt="Onatah Eco Salon & Wigs Detail" />
            </div>
            <div class="back-btn">
                <a href="#top"><i class="fa fa-angle-up" style="font-size: 36px"></i></a>
            </div>
        </div>

        <%= erb :contactform, :layout=> false %>
    </div>
</body>

</html>