<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/port_detail_stylesheet.css" />
    <title>Happy Narwhal</title>
</head>

<body>
    <div class="portfolio-detail-box">
        <div class="portNav">
            <a id="top"></a>
            <a href="portfolio.html"><i class="fa fa-th-large" aria-hidden="true"></i></a>
            <a href="maCapstone.html"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>
        <div class="detail-area">
            <div class="img-section">
                <img src="/images/portfolio/Onatah/onatah_preview1.jpg" alt="Onatah Eco Salon & Wigs" />
            </div>
            <h3><a href="#">Onatah Eco Salon & Wigs</a></h3>
            <p>
                Onatah Eco Salon & Wigs is a southern Minnesota business that is
                located in the heart of the city of Mankato. The word ‘Onatah’ means
                “daughter of the earth” in Native American-Iroquois language. The
                Happy Narwhal designer, Rachel, designed the logo with the mandala
                concept for the eco-salon side of the business.
            </p>
        </div>
        <div class="tech-area">
            <div class="tech-detail">
                <h4>Project Details</h4>
                <p>
                    The Happy Narwhal Designer designed the logo for Onatah Eco Salon &
                    Wigs.
                </p>
            </div>
            <div class="used-list">
                <ul>
                    <li>Logo Design</li>
                </ul>
            </div>
            <div class="portal">
                <ul>
                    <li>
                        <a href="portfolio.html" class="portal-btn">Back to Portfolio</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="scroll-background">
        <div class="scroll-section">
            <div class="scroll-graphic">
                <img src="/images/portfolio/Onatah/Onatah.jpg" alt="Onatah Eco Salon & Wigs Detail" />
                <img src="/images/portfolio/Onatah/IMG_3372_1.jpg" alt="Onatah Eco Salon & Wigs Detail" />
                <img src="/images/portfolio/Onatah/Onatah_Apron_Mockup_2.jpg" alt="Onatah Eco Salon & Wigs Detail" />
                <img src="/images/portfolio/Onatah/fb_Onatah_Mockup.jpg" alt="Onatah Eco Salon & Wigs Detail" />
            </div>
            <div class="back-btn">
                <a href="#top"><i class="fa fa-angle-up" style="font-size: 36px"></i></a>
            </div>
        </div>

        <%= erb :contactform, :layout=> false %>
    </div>
</body>

</html>