<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/port_stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/jquery.js"></script>
    <title>Happy Narwhal</title>

</head>

<body>
    <div id="wrapper">
        <!-- Header -->

        <div class="portfolio-box">
            <div class="headline"></div>
            <h1 class="main">Our Works</h1>

            <div class="port-row">
                <div class="gallery">
                    <a href="port1.html">
                        <div class="port-content port1">
                            <h3>Helios</h3>
                            <span>More Details</span>
                        </div>
                    </a>
                </div>
                <div class="gallery">
                    <div class="port-content noimg">
                        <h3>Project Title</h3>
                        <span>More Details</span>
                    </div>
                </div>
                <div class="gallery">
                    <div class="port-content noimg">
                        <h3>Project Title</h3>
                        <span>More Details</span>
                    </div>
                </div>
                <div class="gallery">
                    <div class="port-content noimg">
                        <h3>Project Title</h3>
                        <span>More Details</span>
                    </div>
                </div>
            </div>
            <div class="port-row">
                <div class="gallery">
                    <div class="port-content noimg">
                        <h3>Project Title</h3>
                        <span>More Details</span>
                    </div>
                </div>
                <div class="gallery">
                    <div class="port-content noimg">
                        <h3>Project Title</h3>
                        <span>More Details</span>
                    </div>
                </div>
                <div class="gallery">
                    <div class="port-content noimg">
                        <h3>Project Title</h3>
                        <span>More Details</span>
                    </div>
                </div>
                <div class="gallery">
                    <div class="port-content noimg">
                        <h3>Project Title</h3>
                        <span>More Details</span>
                    </div>
                </div>
            </div>

</body>

</html>