<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/port_stylesheet.css">
    <title>Happy Narwhal</title>

</head>

<body>
    <div id="wrapper">
        <!-- Header -->

        <div class="portfolio-box">
            <div class="headline"></div>
            <h1 class="main">Development</h1>

            <div class="port-row">
                <div class="gallery">
                    <a href="earthenart.html">
                        <div class="port-content">
                            <img src="/images/earthenart.jpg" alt="earthenart website">
                            <h3>Earthenart.Rocks</h3>
                            <span>More Details</span>
                        </div>
                    </a>
                </div>
                <div class="gallery">
                        <div class="port-content">
                            <img src="/images/noimg.jpg" alt="No image">
                            <h3>Project Title</h3>
                            <span>More Details</span>
                        </div>
                </div>
                <div class="gallery">
                        <div class="port-content">
                            <img src="/images/noimg.jpg" alt="No image">
                            <h3>Project Title</h3>
                            <span>More Details</span>
                        </div>
                </div>
                <div class="gallery">
                        <div class="port-content">
                            <img src="/images/noimg.jpg" alt="No image">
                            <h3>Project Title</h3>
                            <span>More Details</span>
                        </div>
                </div>
            </div>
        </div>
        <div class="portfolio-box">
            <div class="headline"></div>
            <h1 class="main">Design</h1>

            <div class="port-row">
                <div class="gallery">
                    <a href="#">
                        <div class="port-content">
                            <img src="/images/noimg.jpg" alt="No image">
                            <h3>Project Title</h3>
                            <span>More Details</span>
                        </div>
                    </a>
                </div>
                <div class="gallery">
                        <div class="port-content">
                            <img src="/images/noimg.jpg" alt="No image">
                            <h3>Project Title</h3>
                            <span>More Details</span>
                        </div>
                </div>
                <div class="gallery">
                        <div class="port-content">
                            <img src="/images/noimg.jpg" alt="No image">
                            <h3>Project Title</h3>
                            <span>More Details</span>
                        </div>
                </div>
                <div class="gallery">
                        <div class="port-content">
                            <img src="/images/noimg.jpg" alt="No image">
                            <h3>Project Title</h3>
                            <span>More Details</span>
                        </div>
                </div>
            </div>
        </div>
</body>

</html>