<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/port_stylesheet.css">
    <title>Happy Narwhal</title>
</head>

<body>
    <div id="wrapper">
        <!-- Header -->

        <div class="portfolio-box">
            <div class="headline"></div>
            <h1 class="main">Development</h1>

            <div class="port-row">
                <div class="gallery">
                    <a href="portfolio/earthenart.html">
                        <div class="port-content">
                            <img src="/images/portfolio/earthenart.jpg" alt="earthenart website">
                            <h3>Earthenart.Rocks</h3>
                            <span>More Details</span>
                        </div>
                    </a>
                </div>
                <div class="gallery">
                    <a href="portfolio/woxxer.html">
                        <div class="port-content">
                            <img src="/images/portfolio/woxxer.jpg" alt="Woxxer website">
                            <h3>Woxxer</h3>
                            <span>More Details</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="portfolio-box second">
            <div class="headline"></div>
            <h1 class="main">Design</h1>
            <div class="port-row">
                <div class="gallery">
                    <a href="portfolio/maCapstone.html">
                        <div class="port-content">
                            <img src="/images/portfolio/macapstone.jpg" alt="Ma Capstone">
                            <h3>Ma Capstone</h3>
                            <span>More Details</span>
                        </div>
                    </a>
                </div>
                <div class="gallery">
                    <a href="portfolio/calico.html">
                        <div class="port-content">
                            <img src="/images/portfolio/CafeCalicoOutdoorSign.jpg" alt="Calico Cafe">
                            <h3>Calico Cafe</h3>
                            <span>More Details</span>
                        </div>
                    </a>
                </div>
                <div class="gallery">
                    <a href="portfolio/onatah.html">
                        <div class="port-content">
                            <img src="/images/portfolio/Onatah.jpg" alt="Onatah Eco Salon & Wigs">
                            <h3>Onatah Salon & Wigs</h3>
                            <span>More Details</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</body>

</html>
