<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/services.css">
    <title>Happy Narwhal</title>
</head>

<body>
    <div id="wrapper">
        <div class="services-box div-center">
            <div class="navi">
                <ul>
                    <li><a href="#service">SERVICES</a></li>
                    <li><a href="#tech">TECHNOLOGIES</a></li>
                    <li><a href="#process">PROCESS</a></li>
                </ul>
            </div>
            <h2>A HAPPY SOLUTION FOR YOUR BUSINESS</h2>
            <p>We provide smart, creative solutions to enhance your brand values, rise above the
                competition, and grow your business.
                Your website is face of your business and a valuable connection between the clients and your business.
                We are ready to provide a best connection for you.
            </p>

            <div class="service-types-box">
                <div class="headline"></div>
                <h1 class="main">Services</h1>

                <div class="service-contents" id="service">
                    <div class="development-box">
                        <input type="radio" class="website" checked id="" name="development-detail">
                        <input type="radio" class="other" id="" name="development-detail">
                        <input type="radio" class="tech" id="" name="development-detail">
                        <div class="dev-list-box">
                            <ul class="dNav">
                                <li class="dev-type-box dev1 open">
                                    <h2 class="dev-type-box">WEB DEVELOPMENT</h2>
                                </li>
                                <li class="dev-type-box dev2">
                                    <h2 class="dev-type-box">OTHER SERVICES</h2>
                                </li>
                                <li class="dev-type-box dev3">
                                    <h2 class="dev-type-box">DESIGN</h2>
                                </li>

                            </ul>
                        </div>

                        <div class="development-contents">
                            <section class="website-section">
                                <div class="left-box">
                                    <h3>Types of Websites and Features we expect to work on and specialize in</h3>
                                    <ul>
                                        <li>E-Commerce</li>
                                        <li>CMS (content management system)</li>
                                        <li>Scheduling (appointments, event management, software tasks) / calendar</li>
                                        <li>API development</li>
                                        <li>Natural Language Processing</li>
                                    </ul>
                                </div>
                                <div class="right-box">
                                    <lottie-player class="lottie"
                                        src="https://assets10.lottiefiles.com/packages/lf20_miapuf5f.json"
                                        background="transparent" speed="0.5" loop autoplay>
                                    </lottie-player>
                                </div>
                            </section>

                            <section class="other-section">
                                <div class="left-box">
                                    <h3>Other Services we can offer:</h3>
                                    <ul>
                                        <li>SEO optimization</li>
                                        <li>Digital marketing</li>
                                        <li>Growth strategy</li>
                                        <li>Technical consulting (HTML, CSS, Ruby, Git, team management)</li>
                                        <li>Outsourcing</li>
                                    </ul>
                                </div>
                                <div class="right-box">
                                    <lottie-player class="lottie"
                                        src="https://assets4.lottiefiles.com/packages/lf20_thlkq8h9.json"
                                        background="transparent" speed="0.5" loop autoplay>
                                    </lottie-player>
                                </div>

                            </section>

                            <section class="design-section">
                                <div class="left-box">
                                    <h3><span>For design,</span> we can offer:</h3>
                                    <ul>
                                        <li>Web design</li>
                                        <li>UX design</li>
                                        <li>Branding</li>
                                        <li>Art direction</li>
                                        <li>General graphic design</li>
                                    </ul>
                                </div>
                                <div class="right-box">
                                    <lottie-player class="lottie"
                                        src="https://assets1.lottiefiles.com/packages/lf20_czeYL8.json"
                                        background="transparent" speed="0.5" loop autoplay></lottie-player>
                                </div>
                            </section>

                        </div>

                    </div>

                    <div class="tech-box">
                        <h4 id="tech">Technologies</h4>
                        <!--Icon-->
                        <div class="backend">
                            <div class="tech-row">
                                <div class="tech-col tech-title">
                                    <div class="tech-content">
                                        <span>Backend</span>
                                    </div>
                                </div>
                                <div class="tech-col">
                                    <div class="tech-content">
                                        <img src="/images/tech-logo/Ruby_on_Rails_logo.png">
                                        <span>Ruby on Rails</span>
                                    </div>
                                </div>
                                <div class="tech-col">
                                    <div class="tech-content">
                                        <img src="/images/tech-logo/logo.png">
                                        <span>Sinatra</span>
                                    </div>
                                </div>
                                <div class="tech-col">
                                    <div class="tech-content">
                                        <img src="/images/tech-logo/Node_logo.png">
                                        <span>Node.js</span>
                                    </div>
                                </div>
                            </div>

                            <div class="tech-row">
                                <div class="tech-col tech-title">
                                    <div class="tech-content tech-title">
                                        <span>Database</span>
                                    </div>
                                </div>
                                <div class="tech-col">
                                    <div class="tech-content">
                                        <img src="/images/tech-logo/PostgreSQL_logo.png">
                                        <span>postgreSQL</span>
                                    </div>
                                </div>
                                <div class="tech-col">
                                    <div class="tech-content">
                                        <img src="/images/tech-logo/MongoDB_logo_Mongo_D.png">
                                        <span>MongoDB</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tech-row">
                                <div class="tech-col">
                                    <div class="tech-content tech-title">
                                        <span>Hosting Platform</span>
                                    </div>
                                </div>
                                <div class="tech-col">
                                    <div class="tech-content">
                                        <img src="/images/tech-logo/Amazon_Web_Services_logo.png">
                                        <span>AWS</span>
                                    </div>
                                </div>
                                <div class="tech-col">
                                    <div class="tech-content">
                                        <img src="/images/tech-logo/google-cloud-logo.jpg">
                                        <span>Google Cloud</span>
                                    </div>
                                </div>
                                <div class="tech-col">
                                    <div class="tech-content">
                                        <img src="/images/tech-logo/Heroku_logo.png">
                                        <span>Heroku</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="process-box">
                <div class="headline"></div>
                <h1 class="main" id="process">Process</h1>
            </div>
        </div>

        <%= erb :contactform, :layout=> false %>

</body>

</html>
