<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/services.css">
    <title>Happy Narwhal</title>
</head>

<body>
    <div id="wrapper">
        <div class="services-box div-center">
            <h2>A BEST SOLUTION FOR YOUR BUISNESS</h2>
            <p>we provide smart, simple, and creative solutions to enhance your brand values, rise above the competition, and grow your business.
            Your website is face of your business and a valuable connection between the clients and your business. We are ready to provide a best connection for you.
            </p>

            <div class="service-types-box">
                <div class="headline"></div>
                <h1 class="main">Services</h1>

                <input type="radio" class="development" checked id="" name="service">
                <input type="radio" class="design" id="" name="service">
                <div class="types-list-box">
                    <ul class="tNav">
                        <li class="type-box box1 active">
                            <h2 class="type-box">DEVELOPMENT</h2>
                        </li>
                        <li class="type-box box2">
                            <h2 class="type-box">DESIGN</h2>
                        </li>
                    </ul>
                </div>

                <div class="service-contents">
                    <section class="development-section">

                        <div class="development-box">
                            <input type="radio" class="website" checked id="" name="development-detail">
                            <input type="radio" class="other" id="" name="development-detail">
                            <input type="radio" class="tech" id="" name="development-detail">
                            <div class="dev-list-box">
                                <ul class="dNav">
                                    <li class="dev-type-box dev1 open">
                                        <h2 class="dev-type-box">WEBSTIE</h2>
                                    </li>
                                    <li class="dev-type-box dev2">
                                        <h2 class="dev-type-box">OTHER SERVICES</h2>
                                    </li>
                                    <li class="dev-type-box dev3">
                                        <h2 class="dev-type-box">TECHNOLOGIES</h2>
                                    </li>
                                </ul>
                            </div>

                            <div class="development-contents">
                                <section class="website-section">
                                    <div class="left-box">
                                        <h3><span>Types of Websites and Features</span>we expect to work on and specialize in</h3>
                                        <ul>
                                            <li>E-Commerce</li>
                                            <li>CMS (content management system)</li>
                                            <li>Scheduling (appointments, event management, software tasks) / calendar</li>
                                            <li>API development</li>
                                            <li>Natural Language Processing</li>
                                        </ul>
                                    </div>
                                    <div class="right-box">
                                        <lottie-player class="lottie"src="https://assets9.lottiefiles.com/packages/lf20_4VvdIQ.json"  background="transparent" speed="2" loop autoplay></lottie-player>
                                    </div>
                                </section>

                                <section class="other-section">
                                    <h3><span>Other Services</span> we can offer:</h3>
                                    <ul>
                                        <li>SEO optimization</li>
                                        <li>Digital marketing</li>
                                        <li>Growth strategy</li>
                                        <li>Technical consulting (HTML, CSS, Ruby, Git, team management)</li>
                                        <li>Outsourcing</li>
                                    </ul>
                                </section>

                                <section class="tech-section">
                                    <h4>Technologies</h4> <!--Icon-->
                                    <ul>
                                        <li>Backend: Ruby on Rails, Sinatra, or Node.js</li>
                                        <li>Database: PostgreSQL or MongoDB</li>
                                        <li>Hosting Platform: AWS, Google Cloud, Heroku</li>
                                    </ul>
                                </section>
                            </div>
                    </section>
                    <section class="design-section">
                        <ul>
                            <li>Web design</li>
                            <li>UX design</li>
                            <li>Branding</li>
                            <li>Art direction</li>
                            <li>General graphic design</li>
                        </ul>
                    </section>
                </div>
    </div>

</body>

</html>