<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/port_detail_stylesheet.css">
    <title>Happy Narwhal</title>

</head>
<body>
        <div class="portfolio-detail-box div-center">
            <div class="portNav">
                <a id="top"></a>
                <a href="portfolio.html"><i class="fa fa-th-large" aria-hidden="true"></i></a>
            </div>
            <div class="detail-area">
                <div class="img-section">
                    <img src="images/portfolio/woxxer/woxxer_preview.jpg" alt="Earthenart Rocks">
                </div>
                <h3><a href='http://www.woxxer.com/' class="underline">Woxxer</a></h3>
                <p>Woxxer is an instant 3-metric evaluation tool for any granular content, embeds anywhere you can touch or click on a screen, and provides immediately useful & sortable data on real-time human subjective thinking, reactions, and judgment.</p>
            </div>
            <div class="tech-area">
                <div class="tech-detail">
                    <h4>Project Details</h4>
                    <p>The Happy Narwhal developed the Woxxer</p>
                </div>
                <div class="used-list">
                    <ul>
                        <li>Responsive Website</li>
                        <li>Website Development</li>
                    </ul>
                </div>
                <div class="portal">
                    <ul>
                        <li><a href="http://www.woxxer.com/" class ="portal-btn">Woxxer Website</a></li>
                        <li><a href="portfolio.html" class ="portal-btn" >Back to Portfolio</a></li>
                    </ul>
                </div>
            </div>
        </div>
       <div class="project-details">
            <div class="scroll-section">
                <div class="scroll-text">
                    <h4>Provide Samples</h4>
                    <img src="/images/portfolio/woxxer/example.png" alt="woxxer website details">
                </div>

                <div class="scroll-text">
                <h4>Personal Dashboard</h4>
                <p>We developed a personal dashboard that includes a console for customers to build a survey easily.
                Based on the research, it will show the data visually and provides the crucial context and meaning of data.</p>
                </div>
                <img src="/images/portfolio/woxxer/woxxer3.png" alt="woxxer website details">
                <div class="images-box">
                    <img class ="images-detail" src="/images/portfolio/woxxer/2.png" alt="woxxer website details">
                    <img class ="images-detail" src="/images/portfolio/woxxer/3.png" alt="woxxer website details">
                </div>
                <div class="back-btn"><a href="#top"><i class='fa fa-angle-up' style='font-size:36px'></i></a></div>
            </div>

            <%= erb :contactform, :layout => false %>
       </div>
</body>

</html>