/* Portfolio Page */
.portfolio-box{
    margin-top: 170px;
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.portfolio-box:nth-child(2){
    margin-top: 50px;
}
.port-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  align-items: center;
  justify-content: center;
    width: 90%;
    padding: 15px;
    margin: auto;
}

.gallery {
    text-align: center;
    display: flex;
    flex-direction: column  ;
    width: 20%;
    cursor: pointer;
    margin: 20px;
    overflow: hidden;
}

.port-content {
    position: relative;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; 
}
.port-content img{
    max-width: 100%;
    height: auto;
}

.gallery:hover .port-content {
    opacity: 1;
}

.port-content span {
    display: none;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff !important;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    text-decoration: none;
}

.port-content h3 {
    display: none;
    color: #ffffff !important;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    top: 35%;
}

.gallery:hover .port-content, .gallery:focus .port-content {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.gallery:hover .port-content:before, .gallery:focus .port-content:before {
    display: block;
}

.gallery:hover span, .gallery:focus span, .gallery:hover h3, .gallery:focus h3 {
    display: block;
}

.port-content:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 40, 48, 0.75);
}

@media (max-width: 1200px){
    .port-row {
        width: 100%;
    }
}
@media (max-width: 900px){
.gallery {
    width: 40%;
}
}
@media (max-width: 600px){
    .port-row{
        width: 90%;
    }
    .gallery {
        width: 100%;
    }
    .main{
        font-size: 35px;
    }
    }