/* Portfolio Page */

.portfolio-box, .services-box{
    max-width: 100%;
    margin-top: 150px;
}

.port-row {
    display: block;
    width: 85%;
    padding: 15px;
    margin: auto;
}

.gallery {
    position: relative;
    display: block;
    width: 320px;
    height: 250px;
    float: left;
    cursor: pointer;
    margin: 20px;
    overflow: hidden;
}

.port1 {
    background-image: url("https://i.imgur.com/ZVKzoAc.jpg");
}

.noimg {
    background-image: url("https://i.imgur.com/sjuKs62.png");
}

.port-content {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.gallery:hover .port-content {
    opacity: 1;
}

.port-content span {
    display: none;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff !important;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    text-decoration: none;
}

.port-content h3 {
    display: none;
    color: #ffffff !important;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    top: 35%;
}

.gallery:hover .port-content, .gallery:focus .port-content {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.gallery:hover .port-content:before, .gallery:focus .port-content:before {
    display: block;
}

.gallery:hover span, .gallery:focus span, .gallery:hover h3, .gallery:focus h3 {
    display: block;
}

.port-content:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 40, 48, 0.75);
}
@media (max-width: 858px){
    .port-row{
        width: 80%;
        padding: 0;
    }
    .gallery{
        float: none;
        margin: 0;
        width: 100%;
        height: 380px;
        margin-bottom: 10px;
    }
    
}
@media (max-width: 640px){
    .gallery{
        height: 350px;  
    }
    
}