.services-box {
  margin-top: 150px;
}

.navi ul {
  line-height: 0px;
  position: relative;
  display: inline-block;
  height: 21px;
}

.navi ul li {
  display: inline-block;
  margin: -9px 0.5em 0 0.5em;
  border-radius: 0.5em;
  padding: 0.85em;
  border: solid 1px transparent;
}

.navi ul li a {
  display: block;
  position: relative;
  color: inherit;
  text-decoration: none;
  border: 0;
  outline: 0;
  transition: 0.5s
}

.navi ul li a:hover {
  color: #26b8ff;
}

.navi {
  padding: 0 0 30px;
}

.service-contents section h2 {
  font-weight: bold;
  font-size: 25px;
  padding: 80px 0 20px;
  line-height: 0px;
  text-transform: uppercase;
}

/*development sub categories*/

.dev-list-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 40px auto;
}

ul.dNav {
  display: inline;
  position: relative;
  overflow: hidden;
  width: 100%;
}

ul.dNav li {
  float: left;
  width: 33.3%;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  transition: all .3s ease;
  vertical-align: middle;
  position: relative;
  opacity: 0.5;
}

ul.dNav li::after {
  content: '';
  width: 60%;
  height: 10px;
  margin: auto;
  display: block;
  transition: all .3s ease;
}

ul.dNav li:hover::after {
  background: linear-gradient(to right, #a29bfe 0%, #87ceeb 100%);
}

.website:checked~.dev-list-box .dNav li.dev1::after, .other:checked~.dev-list-box .dNav li.dev2::after, .tech:checked~.dev-list-box .dNav li.dev3::after {
  border: 2px solid #fff;
  background: linear-gradient(to right, #a29bfe 0%, #87ceeb 100%);
  transition: all .3 ease;
}

ul.dNav li .dev-type-box {
  width: 100%;
  padding: 20px 0;
  bottom: 0;
  font-size: 20px;
  font-weight: bolder;
}

ul.dNav li.open, ul.dNav li:hover {
  color: black;
  opacity: 1;
  font-weight: bold;
}

.development-contents {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  height: 360px;
}

.website-section, .other-section, .design-section {
  width: 90%;
  margin: auto;
  padding: 4 0px;
}

.website-section, .other-section, .design-section {
  transform: scale(0);
  transform-origin: center bottom;
  position: absolute;
  top: 0;
}

.website:checked~.development-contents .website-section, .other:checked~.development-contents .other-section, .tech:checked~.development-contents .design-section {
  display: block;
  transform: scale(1);
  transform-origin: bottom;
}

.left-box {
  width: 70%;
  float: left;
  -ms-transform: translateY(25%);
  transform: translateY(25%);
}

.right-box {
  width: 30%;
  float: right;
}

section ul {
  padding-left: 20px;
}

/*technologies*/

.tech-title {
  background-color: #f5f6fa;
  ;
}

.tech-row {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  width: 40%;
}

.tech-row::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.tech-row>*:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.tech-col {
  text-align: center;
  display: flex;
  overflow: hidden;
  position: relative;
}

.tech-content {
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.tech-content img {
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.tech-col:hover .tech-content {
  opacity: 1;
}

.tech-content span {
  display: none;
  font-weight: 200;
  font-size: 16px;
  color: black;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 70%;
  left: 0;
  bottom: 0;
  right: 0;
}

.tech-title span {
  display: block;
  color: black;
  top: 40%;
  line-height: 18px;
}

.tech-col:hover .tech-content:before {
  display: block;
}

.tech-col:hover span {
  display: block;
}