<div class="contact1">
    <div class="container-contact1">
        <form class="contact1-form validate-form">

            <div class="headline"></div>
            <div class="title">
                <h1 class="main">Contact us</h1>
                  <p class="contact-subtext">
                    Consulting and training start at <strong>$150/hr</strong>. Reduced rates available for long-term projects.
                  </p>
                <h5 class="validate-message">Form validation failed.</h5>
            </div>

            <div class="wrap-input1 validate-input" data-validate="Name is required">
                <input class="input1" type="text" name="name" placeholder="Full Name" />
            </div>

            <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <input class="input1" type="text" name="email" placeholder="Email" />
            </div>

            <div class="wrap-input1 validate-input" data-validate="Phone number is required">
                <input class="input1" type="text" name="phone" placeholder="Phone Number" />
            </div>

            <div class="wrap-input1 validate-input">
                <textarea class="input1" type="text" name="budget" placeholder="What are you working on?"></textarea>
            </div>

            <div class="wrap-input1 validate-input" data-validate="Message is required">
                <textarea class="input1" name="message" placeholder="What are your goals in working with us? Topics you'd like to cover?"></textarea>
            </div>

            <div class="container-contact1-form-btn">
                <button class="contact1-form-btn">
                    <span> Send Email </span>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-23581568-13");
</script>

<!--===============================================================================================-->
<script src="/assets/js/main.js"></script>
<link rel="stylesheet" href="/assets/css/layout_stylesheet.css" />
