{% if page.title %}
  {% assign title = page.title %}
{% else %}
  {% assign title = site.title %}
{% endif %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Narwhal</title>
</head>

<head>
  <meta charset="utf-8" />
  <meta content="ie=edge" http-equiv="x-ua-compatible" />
  <meta name="handheldfriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}" />

  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:image" content="{{ image }}" />
  <meta property="og:url" content="{{ url }}" />
  <meta property="og:type" content="{% if page.collection == 'posts' %}article{% else %}website{% endif %}" />

  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="{{ image }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@{{ site.twitter }}" />
  <meta name="twitter:image:alt" content="{{ site.title }}" />

  <link rel="icon" href="/assets/images/favicon.ico" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="/assets/css/stylesheet.css" />
  <link rel="stylesheet" href="/assets/css/layout_stylesheet.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/assets/js/site.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
