    <div id="wrapper">
        <!-- Header -->
        <header id="header" class="alt">
            <div class="top"></div>
            <nav id="nav">
                <div class="animation">
                    <a href="/"><img src="/assets/images/logo.jpg" class="logo" width="70" height="70" /></a>
                </div>
                <div class="typo">
                    <a href="/"><img src="/assets/images/typologo.jpg" class="logo" width="180" /></a>
                </div>
                <input type="checkbox" id="check" />
                <label for="check" class="checkbtn">
                    <i class="fa fa-bars"></i>
                </label>
                <ul>
                    <li class="dropdown one">
                        <a href='/portfolio.html'>Our Work <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href='/web-development-projects.html'>Web Dev</a></li>
                            <li><a href='/portfolio.html'>Games</a></li>
                        </ul>
                    </li>
                    <li class="dropdown two">
                        <a href='#'>Services <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href='/development.html'>AI Powered Development</a></li>
                            <li><a href='/consulting.html'>Startup Consulting</a></li>
                            <li><a href="/virtual-assistants.html">Virtual Assistants</a></li>
                        </ul>
                    </li>
                    <li class ="three"><a href="/about.html">About</a></li>
                </ul>
            </nav>
        </header>
    </div>
