    <div id="wrapper">
        <!-- Header -->
        <header id="header" class="alt">
            <div class="top"></div>
            <nav id="nav">
                <div class="animation">
                    <a href="/"><img src="/assets/images/logo.jpg" class="logo" width="70" height="70" /></a>
                </div>
                <div class="typo">
                    <a href="/"><img src="/assets/images/typologo.jpg" class="logo" width="180" /></a>
                </div>
                <input type="checkbox" id="check" />
                <label for="check" class="checkbtn">
                    <i class="fa fa-bars"></i>
                </label>
                <ul>
                    <li class ="one"><a href='/development'>Development</a></li>
                    <li class ="two"><a href='/services'>Consulting</a></li>
                    <li class ="three"><a href="/portfolio.html">Portfolio</a></li>
                    <li class ="four"><a href="/about-us.html">About Us</a></li>
                </ul>
            </nav>
        </header>
    </div>
