/* About Us Page */

.agency-box {
  margin-top: 200px;
  margin-bottom: 140px;
  display: flex;
  position: relative;
}

.left-box {
  width: 50%;
  float: left;
  top: 50%;
  -ms-transform: translateY(25%);
  transform: translateY(25%);
}

.left-box span {
  padding: 5px 10px;
  font-size: 40px;
  font-weight: 900;
}

.left-box span:hover {
  background-size: 4px 50px;
}

.left-box p {
  font-size: 20px;
}

.right-box {
  width: 50%;
  float: left;
}

:root {
  --mainColor: #87ceeb;
}

#shawdow-root .toolbar {
  opacity: 0;
}

.team-box {
  padding-top: 50px;
  display: block;
  height: 100%;
  padding-bottom: 10px;
}

.team-info {
  overflow: hidden;
  padding: 100px 0;
  width: 100%;
  background-color: #f5f6fa;
}

.team-info .left-box {
  width: 40%;
  text-align: center;
  font-size: 25px;
}

.row {
  display: block;
  position: relative;
  width: 80%;
  margin: 20px auto;
  height: 400px;
}

.our-team {
  display: block;
  width: 300px;
  float: left;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.our-team:first-child {
  position: relative;
  top: 40px;
}

.info {
  float: left;
  display: block;
  position: relative;
  width: 70%;
  padding-top: 20px;
}

.info ul {
  list-style: none;
}

.info .name {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0;
}

.our-team img {
  width: 300px;
  height: 300px;
  background: linear-gradient(to right, #a29bfe 0%, #87ceeb 100%);
  border-radius: 50%;
  transform: scale(1);
  transition: all 1s ease 0s;
}

.our-team:hover img {
  transform: scale(1.1);
}

.our-team .team-content {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background: linear-gradient(to right, #a29bfe 0%, #87ceeb 100%);
  border-radius: 50%;
  color: #fff;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-out 0s;
}

.card-container {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 50px auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.team-card {
  position: relative;
  width: 400px;
  height: 500px;
  transform-style: preserve-3d;
  transform: rotateY(0deg) translateX(0px) translateY(0px);
  transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
  margin: 15px;
  cursor: pointer;
}

.team-card:hover {
  transform: rotateY(45deg) translateX(0px) translateY(0px);
}

.open, .open:hover {
  width: 500px;
  height: 700px;
  transform: rotateY(-180deg) translateX(0px) translateY(0px);
}

.picture-side {
  transform: rotateY( 0deg) translateZ( 2px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile1 {
  background-image: url(../images/bjorn.jpg);
}

.profile2 {
  background-image: url(../images/rachel.jpg);
}

.profile3 {
  background-image: url(../images/bowon.jpg);
}

.back {
  transform: rotateY( 180deg) translateZ( 0px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.back h3 {
  font-size: 25px;
  margin: 10px 0;
}

.back .title {
  font-size: 20px;
  margin-bottom: 20px;
}

.back p {
  font-size: 14px;
  margin: 0;
  width: 80%;
}

.picture-side.textonly {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  overflow: hidden;

}

.icon {
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon li {
  display: inline-block;
}

.icon li a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  border: 1px solid #a29bfe;
  font-size: 18px;
  color: #a29bfe;
  margin-right: 6px;
  transition: all 0.3s ease 0s;
}

.icon li a:hover {
  background: #26b8ff;
  border: 1px solid #26b8ff;
  color: #fff;
}

@media (max-width: 858px) {
  .div-center {
    width: 90%;
  }
  .div-center h2 {
    font-weight: 200;
    font-size: 30px;
    margin-bottom: 100px;
    margin: 60px 0 100px;
  }
  .div-center h3 {
    font-size: 30px;
  }
  .div-center p {
    font-size: 18px;
    line-height: 30px;
  }
  .team-box {
    padding-top: 30px;
  }
}
