.top-section {
  margin-top: 150px;
}

.navi ul {
  line-height: 0px;
  position: relative;
  display: inline-block;
  height: 21px;
}

.navi ul li {
  display: inline-block;
  margin: -9px 0.5em 0 0.5em;
  border-radius: 0.5em;
  padding: 0.85em;
  border: solid 1px transparent;
}

.navi ul li a {
  display: block;
  position: relative;
  color: inherit;
  text-decoration: none;
  border: 0;
  outline: 0;
  transition: 0.5s
}

.navi ul li a:hover {
  color: #26b8ff;
}

.navi {
  padding: 0 0 30px;
}

.service-contents section h2 {
  font-weight: bold;
  font-size: 25px;
  padding: 80px 0 20px;
  line-height: 0px;
  text-transform: uppercase;
}

  /*development sub categories*/

.left-col {
  float: left;
  padding-right: 15px;
}

.planning-image  img {
  height: auto;
}

.dev-list-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 40px auto;
}

ul.dNav {
  display: inline;
  position: relative;
  overflow: hidden;
  width: 100%;
}

ul.dNav li {
  float: left;
  width: 33.3%;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  transition: all .3s ease;
  vertical-align: middle;
  position: relative;
  opacity: 0.5;
}

ul.dNav li::after {
  content: '';
  width: 60%;
  height: 10px;
  margin: auto;
  display: block;
  transition: all .3s ease;
}

ul.dNav li:hover::after {
  background: linear-gradient(to right, #a29bfe 0%, #87ceeb 100%);
}

.website:checked~.dev-list-box .dNav li.dev1::after, .other:checked~.dev-list-box .dNav li.dev2::after, .tech:checked~.dev-list-box .dNav li.dev3::after {
  border: 2px solid #fff;
  background: linear-gradient(to right, #a29bfe 0%, #87ceeb 100%);
  transition: all .3 ease;
}

ul.dNav li .dev-type-box {
  width: 100%;
  padding: 20px 0;
  bottom: 0;
  font-size: 20px;
  font-weight: bolder;
}

ul.dNav li.open, ul.dNav li:hover {
  color: black;
  opacity: 1;
  font-weight: bold;
}

.development-contents {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  height: 360px;
}

@media (min-width: 960px) {
  .website-section, .other-section, .design-section {
    width: 90%;
    margin: auto;
    padding: 4 0px;
  }
}

.website-section, .other-section, .design-section {
  transform: scale(0);
  transform-origin: center bottom;
  position: absolute;
  top: 0;
}

.website:checked~.development-contents .website-section, .other:checked~.development-contents .other-section, .tech:checked~.development-contents .design-section {
  display: block;
  transform: scale(1);
  transform-origin: bottom;
}

@media (min-width: 960px) {
  .left-box {
    width: 70%;
    float: left;
    -ms-transform: translateY(25%);
    transform: translateY(25%);
  }
}

.right-box {
  width: 30%;
  float: right;
}

section ul {
  padding-left: 20px;
}

/* desktop specific */

@media (min-width: 960px) {
  top-section {
    width: 980px;
  }

  page-wrapper {
    margin-right: auto;
    margin-left: auto;
  }

  .left-col {
    width: 50%;
  }

  .planning-image {
    position: relative;
    float: left;
    width: 50%;
  }
}
/*mobile specific*/

@media (max-width: 960px) {
  .container {
    width: auto;
  }

  .top-section {
    padding: 0 30px;
  }

  .left-box {
    width: auto;
    margin-right: 150px;
  }

  .left-box li {
    font-size: 12pt;
    line-height: 1.65em;
  }

  .right-box {
    width: 170px;
    top: 0;
    right: 0;
    position: absolute;
  }

  .development-contents {
    width: 100%;
    padding-left: 20px;
  }
}
