@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://use.typekit.net/ick5ppl.css");
html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    max-width: 100%;
    height: 100%;
}

article, nav, section {
    display: block;
}

body {
    background: #ffffff;
    color: #5b5b5b;
    font-size: 15pt;
    line-height: 1.85em;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    margin: 0;
    max-width: 100%;
}

.top{
    position:absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: -1;
}
.animation{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: left;
    z-index: 100;
    margin: 5px 0 0 30px;
    overflow: hidden;
}

.typo{
    position: absolute;
    top: 20px;
    left: 140px;
    text-align: left;
    z-index: 91;
    overflow: hidden;
    padding: 0;
    transition: 0.4s ease-out;
}

.animation.animate  {
    animation: rotation 1s 1 linear;
}

.animation:hover .logo{
    animation: rotation 1.5s 1 linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(350deg);
    }
}

#nav {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: 40px 0;
    z-index: 90;
    overflow: hidden;
    font-weight: bold;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

#nav ul {
    line-height: 0px;
    position: relative;
    display: inline-block;
    margin: 0;
    height: 21px;
}

#nav ul:before, #nav ul:after {
    content: '';
    display: block;
    width: 300%;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    height: 5px;
}

#nav ul:before {
    left: 100%;
    margin-left: 1px;
}

#nav ul:after {
    right: 100%;
    margin-right: 1px;
}

#nav ul li {
    display: inline-block;
    margin: -9px 0.5em 0 0.5em;
    border-radius: 0.5em;
    padding: 0.85em;
    border: solid 1px transparent;
}

#nav ul li:active {
    border: solid 1px #5388AB;
}

#nav ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
    border: 0;
    outline: 0;
}

#nav ul li a:hover {
    color: #5388AB;
}

.checkbtn {
    font-size: 30px;
    color: #5388AB;
    float: right;
    line-height: 8px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 858px) {
    nav {
        margin: 0;
        height: 35px;
    }
    .checkbtn {
        display: block;
    }
    #nav ul {
        position: fixed;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 320px;
        background: white;
        top: 95px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    }
    #nav ul li {
        z-index: 999;
        display: block;
        width: 100%;
        margin: 0;
        line-height: 40px;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav a:hover, #nav a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked~ul {
        left: 0;
    }
    .animation .logo{
        width: 80px;
    }
    .typo .logo{
        width: 150px;
    }
    .typo{
        top: 30px;
        left: 110px;
    }
    
}

/* banner */

.headline-text {
    width: 100px;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right, #a29bfe 0%, #87ceeb 100%);
    height: 12px;
    position: relative;
    border-radius: 10px;
}

#banner {
    background: #ffffff;
    width: 100%;
    position: relative;
    max-width: 100%;
}

#banner header>p {
    margin-bottom: 0;
}

.center-split {
    margin: 150px;
    text-align: left;
}

.center-split .first {
    padding-left: 100px;
}

.center-split h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

.center-split ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 100;
}

.center-split>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* responsive */
@media (max-width: 1200px){
    .center-split .first{
        padding-left: 40px;
    }
    .center-split h1{
        font-size: 35px;
    }
}
@media (max-width: 1020px){
    .center-split{
        margin: 150px 100px 150px 100px;
    }
}
@media (max-width: 858px){
    .center-split{
        margin: 150px 50px 0px 50px;
    }
    .center-split:nth-child(2){
        margin: 80px 50px 100px 50px;
    }
    .center-split h1{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .center-split ul{
        font-size: 17px;
        line-height: normal;
    }
}
@media (max-width: 640px){
    .center-split{
        margin: 150px 20px 50px 20px;
    }
    .center-split h1{
        font-size: 25px;
        line-height: normal;
   }
}

@media (min-width: 600px) {
    .center-split {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        align-items: stretch;
    }
    .center-split>*>* {
        max-width: var(--center-split-max-width);
    }
    .center-split>img, .center-split>picture, .center-split>video {
        max-width: 100%;
        margin: 0;
    }
}

/* process */

.main {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    text-align: center;
}

input[type="radio"] {
    display: none;
    position: absolute
}

.process-box {
    margin: auto;
    padding: 40px 0;
    width: 1000px;
}

.process-head {
    position: relative;
    width: 100%;
    margin: auto;
    height: 100px;
    margin-top: 40px;
    animation: trans .7s linear forwards;
}

ul.pNav {
    padding-left: 0;
    padding-top: 15px;
    z-index: 5;
    position: absolute;
    width: 100%;
}

ul.pNav li {
    list-style: none;
    float: left;
    width: 25%;
    text-align: center;
    color: #bebebe;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 100;
    transition: all .3s ease;
    vertical-align: middle;
    height: 90px;
    position: relative;
}

ul.pNav li::before {
    content: '';
    width: 25px;
    height: 25px;
    border: 2px solid #87ceeb;
    border-radius: 50%;
    margin: auto;
    display: block;
    transition: all .3s ease;
}

ul.pNav li:hover::before {
    border: 2px solid #ffffff;
    background: #87ceeb;
}

ul.pNav li .bar {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 20px;
    font-weight: bolder;
}

ul.pNav li.active, ul.pNav li:hover {
    color: #23395d;
    font-weight: bold;
}

ul.pNav li::after {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    background: #bebebe;
    border-radius: 50%;
    margin: auto;
    border: 7px solid #ffffff;
    margin-top: 40px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

ul.pNav li:hover::after, ul.pNav li.active::after {
    background: #23395d;
}

.line {
    width: 76%;
    margin: auto;
    background: #d3d3d3;
    height: 7px;
    position: absolute;
    left: 12%;
    top: 110px;
    z-index: 1;
    border-radius: 50px;
}

.line span {
    content: '';
    width: 2%;
    height: 100%;
    background-image: linear-gradient(to right, #a29bfe 0%, #87ceeb 100%);
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    transition: all .8s ease;
}

.contents {
    position: relative;
    display: flex;
    justify-content: center;
    animation: anim .7s linear forwards;
    height: 300px;
}

.meet-section, .plan-section, .develop-section, .launch-section {
    width: 100%;
    margin: auto;
    border-radius: 4px;
    padding: 40px;
}

.contents section h1 {
    font-weight: bold;
    font-size: 25px;
    padding-top: 30px;
    line-height: 0px;
    text-align: center;
    text-transform: uppercase;
}

.contents section p {
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.meet:checked~.process-head .pNav li.bar1::before, .plan:checked~.process-head .pNav li.bar1::before, .plan:checked~.process-head .pNav li.bar2::before, .develop:checked~.process-head .pNav li.bar1::before, .develop:checked~.process-head .pNav li.bar2::before, .develop:checked~.process-head .pNav li.bar3::before, .launch:checked~.process-head .pNav li.bar1::before, .launch:checked~.process-head .pNav li.bar2::before, .launch:checked~.process-head .pNav li.bar3::before, .launch:checked~.process-head .pNav li.bar4::before {
    border: 2px solid #fff;
    background: #87ceeb;
    transition: all .3 ease;
}

.plan:checked~.process-head .line span {
    width: 35%;
}

.develop:checked~.process-head .line span {
    width: 68%;
}

.launch:checked~.process-head .line span {
    width: 100%;
}

.meet-section, .plan-section, .develop-section, .launch-section {
    transform: scale(0);
    transform-origin: center bottom;
    position: absolute;
    top: 0;
}

.meet:checked~.contents .meet-section, .plan:checked~.contents .plan-section, .develop:checked~.contents .develop-section, .launch:checked~.contents .launch-section {
    display: block;
    transform: scale(1);
    transform-origin: bottom;
}
@media (max-width: 840px){
    .process-box{
        width: auto;
    }
}

@media (max-width: 840px){
    .main{
        font-size: 40px;
        margin: auto;
    }
    .line, .line span, .process-head{
        display: none;
        height: 0;
        width: 0;
    }
    .contents{
        display: block;
        position: relative;
        height: auto;
        margin-bottom: 20px;
    }
    
    .contents section h1{
        font-size: 22px;
    }
    .contents section p{
        font-size: 16px;
    }
    .meet-section, .plan-section, .develop-section, .launch-section{
        display: block;
        position: relative;
        padding: 0 20px;
        margin: 0;
        width: 90%;
        transform: scale(1);
    }
}

/* types */

.type-section {
    background-color: #f4f5f8;
    margin-top: 20px;
    padding: 30px 150px 60px;
    text-align: left;
}

.type-box {
    display: inline-block;
}

.row-type {
    margin-left: auto;
    display: inline-block;
    width: 20%;
    padding: 0 30px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.col-type {
    background-color: #fff;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(102, 113, 228, 0.13);
    height: 400px;
    margin: 20px 0;
    transition: all .2s ease-in-out;
}

.col-type:hover {
    transform: scale(1.1);
}

.col-type h3 {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px 0 0 0;
    margin: 0;
    text-align: center;
}

.col-type p {
    margin: 0px 10px 10px;
    font-size: 14px;
    text-align: left;
}

.steps {
    margin-top: 10px;
    font-size: 150px;
    top: 0;
}

@media (max-width: 1600px) {
    .row-type {
        padding: 0 10px;
        width: 22%;
    }
}

@media (max-width: 1400px) {
    .type-section {
        padding: 30px 50px;
    }
}

@media (max-width: 1050px) {
    .type-section {
        padding: 30px 10px;
    }
    .row-type {
        padding: 0 10px;
        width: 22%;
    }
    .row-type {
        width: 100%;
    }
    .col-type {
        width: 700px;
        margin: 20px auto;
        height: 200px;
    }
    .steps {
        display: block;
        float: left;
    }
}

@media (max-width: 900px){
    .row-type{
        padding: 0;
    }
}

/*contact form*/

.headline {
    width: 100px;
    padding: 0;
    margin: 0 auto;
    background-image: linear-gradient(to right, #a29bfe 0%, #87ceeb 100%);
    height: 12px;
    position: relative;
    border-radius: 10px;
}

.contact1 {
    background: #23395d;
    margin: 0;
    padding: 30px 150px 50px;
    position: relative;
    min-height: 100%;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title h1 {
    color: white;
    text-align: center;
    margin: 10px 0 30px;
}

.container-contact1 {
    width: 1163px;
}

input {
    outline: none;
    border: none;
    background: #ebeef1;
    width: 100%;
    font-size: 16px;
}

textarea {
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    background: #ebeef1;
    resize: none;
}

.wrap-input1 {
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 12px;
    padding: 10px 40px;
    box-sizing: border-box;
    background: #ebeef1;
    border: 0px;
    outline: none;
    border-radius: 10px;
}

.wrap-input1 textarea {
    height: 150px;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 15px 15px;
    resize: none;
}

.container-contact1-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact1-form-btn {
    display: block;
    width: 50%;
    background-image: linear-gradient(to right, #a29bfe 0%, #87ceeb 100%);
    color: white;
    border: 0;
    padding: 12px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all .8s ease;
}

.contact1-form-btn:hover {
    opacity: 0.5;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    color: #c80000;
    font-size: 16px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
    .wrap-input1, .contact1-form-btn{
        width: 70%;
    }
}

/* About Us Page */

.about-contain {
    background: #ffffff;
    padding: 120px 0 0 0;
    width: 100%;
    position: relative;
    max-width: 100%;
}

.welcome {
    position: absolute;
    top: 200px;
    transform: translateY(-50%);
    width: 100%;
}

.welcome h1 {
    height: 80px;
    margin: 0;
    padding: 20px 0;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    color: transparent;
    background-image: linear-gradient(to right, #7d73ff, #a29bfe, #cccafa, #87ceeb, #51bfed, #3874ef, #0f3b97, #0f3b97, #0f3b97);
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
    background-size: 1000%;
}

@keyframes animate {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    75% {
        background-position: 0% 100%;
    }
}

.teams {
    padding-top: 200px;
}

.row {
    display: block;
    position: relative;
    max-width: 100%;
    padding: 0 200px;
    margin: auto;
    height: 400px;
}

.our-team {
    display: block;
    width: 300px;
    float: left;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.info {
    float: left;
    display: block;
    position: relative;
    width: 70%;
    padding-top: 20px;
}

.our-team img {
    width: 100%;
    background: linear-gradient(to right, #a29bfe 0%, #87ceeb 100%);
    border-radius: 50%;
    transform: scale(1);
    transition: all 1s ease 0s;
}

.our-team:hover img {
    transform: scale(1.1);
}

.our-team .team-content {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background: linear-gradient(to right, #a29bfe 0%, #87ceeb 100%);
    border-radius: 50%;
    color: #fff;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-out 0s;
}

.our-team .team-content h3 {
    padding-top: 35%;
}

.our-team:hover .team-content {
    opacity: 0.8;
}

.our-team .title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 8px 0;
    opacity: 0;
    transform: rotate(-90deg);
    transition: all 0.3s ease-in-out 0.2s;
}

.our-team:hover .title {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.1s;
}

.our-team .post {
    display: block;
    font-size: 17px;
    margin-bottom: 15px;
    opacity: 0;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out 0.2s;
}

.our-team:hover .post {
    opacity: 1;
    transform: scale(1);
}

.our-team .icon {
    padding: 0;
    margin: 0;
    list-style: none;
}

.our-team .icon li {
    display: inline-block;
}

.our-team .icon li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 18px;
    color: #fff;
    margin-right: 6px;
    transition: all 0.3s ease 0s;
}

.our-team .icon li a:hover {
    background: #0f3b97;
    border: 1px solid #0f3b97;
}

@media only screen and (max-width: 1420px) {
    .info {
        float: left;
        width: 65%;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 1400px) {
    .row {
        padding: 0 150px;
    }
    .info {
        width: 100%;
        padding-top: 20px;
    }
    .our-team {
        display: block;
        width: 100%;
        float: left;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        text-align: center;
    }
    .our-team img {
        width: 300px;
        display: block;
        margin: 0 auto;
    }
    .welcome {
        font-size: 60px;
    }
}

@media only screen and (max-width: 1250px) {
    .row {
        padding: 0;
    }
    .welcome h1 {
        font-size: 60px;
    }
    .teams .headline {
        margin-top: 50px;
    }
    .main {
        margin: 20px;
    }
    .teams {
        padding: 100px;
    }
    .info {
        padding: 0;
        width: 100%;
        text-align: left;
    }
    .team-content {
        height: 300px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(to right, #a29bfe 0%, #87ceeb 100%);
        border-radius: 50%;
        color: #fff;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s ease-out 0s;
    }
    .our-team .team-content h3 {
        padding-top: 15%;
    }
}

@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 30px;
    }
    .welcome h1 {
        font-size: 55px;
    }
}

@media (max-width: 858px) {
    .row {
        padding: 0;
    }
    .our-team img {
        text-align: center;
    }
    .welcome h1 {
        font-size: 50px;
    }
}

/* Portfolio Page */

.portfolio-box, .services-box, .portfolio-detail-box {
    max-width: 100%;
    margin: 150px;
}

.port-row {
    display: inline-block;
    width: 100%;
    padding: 15px;
}

.gallery {
    position: relative;
    margin: auto;
    width: 22%;
    float: left;
    cursor: pointer;
    margin: 20px;
    height: 250px;
    overflow: hidden;
}

.port1 {
    background-image: url("https://i.imgur.com/ZVKzoAc.jpg");
}

.noimg {
    background-image: url("https://i.imgur.com/sjuKs62.png");
}

.port-content {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.gallery:hover .port-content {
    opacity: 1;
}

.port-content span {
    display: none;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff !important;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    text-decoration: none;
}

.port-content h3 {
    display: none;
    color: #ffffff !important;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    top: 35%;
}

.gallery:hover .port-content, .gallery:focus .port-content {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.gallery:hover .port-content:before, .gallery:focus .port-content:before {
    display: block;
}

.gallery:hover span, .gallery:focus span, .gallery:hover h3, .gallery:focus h3 {
    display: block;
}

.port-content:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 40, 48, 0.75);
}

/* Portfolio-detail Page */

.portfolio-detail-box {
    display: block;
    width: 1250px;
    margin: 150px auto;
}

.portNav {
    display: block;
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 30px;
    color: black;
}

.portNav .fa {
    color: #23395d;
    padding: 0 10px;
    transition: .3s ease;
}

.portNav .fa:hover {
    color: #87ceeb;
}

.detail-area {
    float: left;
}

.detail-area {
    width: 780px;
    height: 400px;
    margin: auto;
    display: block;
}

.detail-area .img-section {
    height: 400px;
}

.webimg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.web1 {
    background-image: url('https://i.imgur.com/77Ge1eI.jpg');
}

.detail-area h3 {
    padding-top: 20px;
    font-size: 35px;
}

.sm-area {
    padding-top: 40px;
    display: block;
    position: relative;
    height: 300px;
}

.sm-area h4 {
    margin: 0;
}

.sm-area .port-row {
    padding: 0;
}

.sm-gallery {
    display: block;
    float: left;
    position: relative;
    margin: 10px auto;
    width: 250px;
    height: 160px;
    cursor: pointer;
    overflow: hidden;
    padding: 0 10px 0 0;
}

.next-content {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.next-content span {
    display: none;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff !important;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    text-decoration: none;
}

.sm-gallery:hover span, .sm-gallery:focus span {
    display: block;
}

.sm-gallery:hover .next-content {
    opacity: 1;
}

.sm-gallery:hover .next-content, .sm- gallery:focus .next-content {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.sm-gallery:hover .next-content:before, .sm-gallery:focus .next-content:before {
    display: block;
}

.next-content:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52, 73, 94, 0.75);
}

.tech-area {
    float: right;
    width: 400px;
}

.tech-detail, .used-list {
    padding-bottom: 40px;
    border-bottom: solid 2px #87ceeb;
}

.used-list ul {
    padding-top: 30px;
    list-style: none;
    font-size: 16px;
}

.used-list li::before {
    content: "\2713";
    color: #87ceeb;
    font-weight: 800;
    display: inline-block;
    width: 1em;
    margin: 0 10px 0 -30px;
}

.tech-detail h4 {
    margin: 15px 0;
}

.tech-detail p {
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    text-decoration: none;
}

.portal {
    margin-top: 30px;
}

.portal ul {
    padding: 0;
}

.portal li {
    list-style: none;
    margin: 60px 0;
}

.portal a:link {
    text-decoration: none;
}

.portal-btn {
    background-color: #87ceeb;
    border: none;
    color: black;
    padding: 20px 60px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
}

.portal-btn:hover {
    background-color: #23395d;
    ;
    color: white;
}